<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2020, Sections 002, H02, V02
</span>
</center></b>
</span><br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Programming Project Notebook<br>
</span>
</center></i>

# Introduction

- This notebook defines HW1, Part C for both the programming and no-programming tracks.


- Submission instructions:
    - Both no programming and programming tracks submit a zip file containing all of the files in the HW project directory that you clone (see below).
    - Much of your work is completing sections of this notebook, but you MUST edit the copy in the project directory.
    - If you reference or create any files, please create in the project directory.
    - The name of your zip file MUST be ```uni_W4111_s20_hw1c,```  replace ```uni``` with you UNI. My submission would be ```dff9_W4111_s20_hw1c.```
    - The homework is due on 23-February-2020 at 11:59 PM. You MAY use late days.
    
- We will use the pinned [Piazza post](https://piazza.com/class/k5grpo7gmn71pj?cid=301) to clarify the homework and answer questions.


# Common Setup

Both tracks should:
- MySQL: Install
    - [MySQL Server Community Edition](https://dev.mysql.com/doc/mysql-installation-excerpt/8.0/en/)
    - [MySQL Workbench](https://dev.mysql.com/doc/workbench/en/)
    - In addition to the official links, there are many operating specific tutorials.
    
    
- Create a [Lucidchart educational account.](https://lucidchart.zendesk.com/hc/en-us/articles/207324096-Get-Started-with-an-Educational-Account)


- Project template:
    - If you do not have ```Git``` on your computer, please install it.
    - Homework 1 setup instructions recommended that you create a folder ```/IntroToDB``` on your desktop.
    - Under this directory, create a folder ```HW1C.```
    - Open terminal shell or Git enabled command prompt.
    - CD to the directory you created and enter ```git clone https://github.com/donald-f-ferguson/GoTHW```
    - This will create the project template for you.
        
| <img src="./got_hw_project.png"> |
| :---: |
| __HW1C Project Template__ |

- Run the following cells. Your answers WILL BE different than the sample output.

In [1]:
import sys
import os
import platform
import psutil

print("="*40, "Path Information", "="*40)
print("Path = ", os.getcwd())

print("="*40, "System Information", "="*40)
uname = platform.uname()
print(f"System: {uname.system}")
print(f"Node Name: {uname.node}")
print(f"Release: {uname.release}")
print(f"Version: {uname.version}")
print(f"Machine: {uname.machine}")
print(f"Processor: {uname.processor}")

print("="*40, "Network Information", "="*40)

import socket    
hostname = socket.gethostname()    
IPAddr = socket.gethostbyname(hostname)    
print("Your Computer Name is:" + hostname)    
print("Your Computer IP Address is:" + IPAddr) 

import uuid
print ("Your MAC address is:", hex(uuid.getnode()))

======================================== Path Information ========================================
Path =  C:\Users\59482\Desktop\IntroToDB\HW1C\GoTHW
======================================== System Information ========================================
System: Windows
Node Name: LAPTOP-VJIRBLR4
Release: 10
Version: 10.0.17763
Machine: AMD64
Processor: Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
======================================== Network Information ========================================
Your Computer Name is:LAPTOP-VJIRBLR4
Your Computer IP Address is:192.168.0.200
Your MAC address is: 0x4ea56df6528

# Programming

## Overview

- Ensuring that programming track students build core skills is essential. Programming track assignments will contain a subset of the broader, more complete tasks assigned in the No programming assignments. So, there is a common core section to the programming track homework.


- Additionally, the programming track will have tasks that reinforce skills necessary for programming and databases.


## Common Core

### Tasks

- Schema and DML: For the following tables, perform the data import, data cleanup and schema improvement takes for the following tables:
1. ```characters```
2. ```scenes```
3. ```scenes_characters```


- Views
    1. Implement the view in 3.5.3, "Character Interactions."
    2. Define, explain and implement a view of you choosing.
    
### Answers

<u>Data Import and Cleanup</u>

- Connect to database

In [2]:
import pymysql
%load_ext sql
%sql mysql+pymysql://root:Djxwxydy4016739@localhost/W4111GoTSolution

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@W4111GoTSolution'

- Characters
   - Setting types to columns

In [4]:
%%sql
ALTER TABLE `w4111gotsolution`.`characters` 
CHANGE COLUMN `characterName` `characterName` VARCHAR(64) NULL DEFAULT NULL ,
CHANGE COLUMN `characterLink` `characterLink` VARCHAR(128) NULL DEFAULT NULL ,
CHANGE COLUMN `actorName` `actorName` VARCHAR(128) NULL DEFAULT NULL ,
CHANGE COLUMN `actorLink` `actorLink` VARCHAR(128) NULL DEFAULT NULL ,
CHANGE COLUMN `character_id` `character_id` VARCHAR(16) NULL DEFAULT NULL ,
CHANGE COLUMN `characterImageThumb` `characterImageThumb` VARCHAR(512) NULL DEFAULT NULL ,
CHANGE COLUMN `characterImageFull` `characterImageFull` VARCHAR(512) NULL DEFAULT NULL ,
CHANGE COLUMN `nickname` `nickname` VARCHAR(64) NULL DEFAULT NULL ;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
389 rows affected.

[]

In [5]:
%sql describe characters

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
11 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('characterName', 'varchar(64)', 'YES', '', None, ''),
 ('characterLink', 'varchar(128)', 'YES', '', None, ''),
 ('actorName', 'varchar(128)', 'YES', '', None, ''),
 ('actorLink', 'varchar(128)', 'YES', '', None, ''),
 ('character_id', 'varchar(16)', 'YES', '', None, ''),
 ('royal', 'text', 'YES', '', None, ''),
 ('characterImageThumb', 'varchar(512)', 'YES', '', None, ''),
 ('characterImageFull', 'varchar(512)', 'YES', '', None, ''),
 ('nickname', 'varchar(64)', 'YES', '', None, ''),
 ('kingsguard', 'text', 'YES', '', None, '')]

- Characters
   - NULL OR NOT NULL ?
   - Primary key
   - Unique

In [13]:
%%sql
ALTER TABLE `w4111gotsolution`.`characters` 
CHANGE COLUMN `id` `id` INT NOT NULL ,
CHANGE COLUMN `characterName` `characterName` VARCHAR(64) NOT NULL ,
CHANGE COLUMN `character_id` `character_id` VARCHAR(16)  NOT NULL;
ADD PRIMARY KEY (`character_id`);
ADD UNIQUE INDEX `character_id_UNIQUE` (`character_id` ASC) VISIBLE;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [13]:
%%sql
ALTER TABLE `w4111gotsolution`.`characters` 
CHANGE COLUMN `character_id` `character_id` VARCHAR(16) NOT NULL ;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
0 rows affected.

[]

In [14]:
%sql describe characters

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
11 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('characterName', 'varchar(64)', 'NO', '', None, ''),
 ('characterLink', 'varchar(128)', 'YES', '', None, ''),
 ('actorName', 'varchar(128)', 'YES', '', None, ''),
 ('actorLink', 'varchar(128)', 'YES', '', None, ''),
 ('character_id', 'varchar(16)', 'NO', 'UNI', None, ''),
 ('royal', 'text', 'YES', '', None, ''),
 ('characterImageThumb', 'varchar(512)', 'YES', '', None, ''),
 ('characterImageFull', 'varchar(512)', 'YES', '', None, ''),
 ('nickname', 'varchar(64)', 'YES', '', None, ''),
 ('kingsguard', 'text', 'YES', '', None, '')]

- Characters
   - Convert "" into NULL

In [15]:
%sql update characters set actorName=NULL where actorName=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
35 rows affected.

[]

In [16]:
%sql update characters set characterLink=NULL where characterLink=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
21 rows affected.

[]

In [17]:
%sql update characters set actorLink=NULL where actorLink=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
36 rows affected.

[]

In [23]:
%sql update characters set characterImageThumb=NULL where characterImageThumb=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
134 rows affected.

[]

In [24]:
%sql update characters set nickname	=NULL where nickname=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
380 rows affected.

[]

- Characters
   - Turn the value of royal and kingsguard into 0 and 1

In [26]:
%sql update characters set royal=1 where royal="True"

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
17 rows affected.

[]

In [27]:
%sql update characters set royal=0 where royal=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
372 rows affected.

[]

In [28]:
%sql update characters set kingsguard=1 where kingsguard="True"

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
5 rows affected.

[]

In [29]:
%sql update characters set kingsguard=0 where kingsguard=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
384 rows affected.

[]

In [30]:
%%sql
ALTER TABLE `w4111gotsolution`.`characters` 
CHANGE COLUMN `royal` `royal` TINYINT NOT NULL DEFAULT 0 ,
CHANGE COLUMN `kingsguard` `kingsguard` TINYINT NOT NULL DEFAULT 0 ;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
389 rows affected.

[]

In [31]:
%sql describe characters

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
11 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('characterName', 'varchar(64)', 'NO', '', None, ''),
 ('characterLink', 'varchar(128)', 'YES', '', None, ''),
 ('actorName', 'varchar(128)', 'YES', '', None, ''),
 ('actorLink', 'varchar(128)', 'YES', '', None, ''),
 ('character_id', 'varchar(16)', 'NO', 'UNI', None, ''),
 ('royal', 'tinyint', 'NO', '', '0', ''),
 ('characterImageThumb', 'varchar(512)', 'YES', '', None, ''),
 ('characterImageFull', 'varchar(512)', 'YES', '', None, ''),
 ('nickname', 'varchar(64)', 'YES', '', None, ''),
 ('kingsguard', 'tinyint', 'NO', '', '0', '')]

- Scenes

In [3]:
%sql describe scenes

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
12 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('seasonNum', 'int', 'YES', '', None, ''),
 ('episodeNum', 'int', 'YES', '', None, ''),
 ('sceneNo', 'int', 'YES', '', None, ''),
 ('sceneStart', 'text', 'YES', '', None, ''),
 ('sceneEnd', 'text', 'YES', '', None, ''),
 ('location', 'text', 'YES', '', None, ''),
 ('subLocation', 'text', 'YES', '', None, ''),
 ('greensight', 'text', 'YES', '', None, ''),
 ('altLocation', 'text', 'YES', '', None, ''),
 ('warg', 'text', 'YES', '', None, ''),
 ('flashback', 'text', 'YES', '', None, '')]

- Scene
   - NULL OR NOT NULL ?
   - Primary key
   - Unique

In [10]:
%%sql
ALTER TABLE `w4111gotsolution`.`scenes` 
CHANGE COLUMN `id` `id` INT(11) NOT NULL ,
CHANGE COLUMN `seasonNum` `seasonNum` INT(11) NOT NULL,
CHANGE COLUMN `episodeNum` `episodeNum` INT(11) NOT NULL ,
CHANGE COLUMN `sceneNo` `sceneNo` INT(11) NOT NULL ,
CHANGE COLUMN `sceneStart` `sceneStart` VARCHAR(128) NOT NULL ,
CHANGE COLUMN `sceneEnd` `sceneEnd` VARCHAR(128) NOT NULL ,
CHANGE COLUMN `location` `location` VARCHAR(128) NOT NULL ,
CHANGE COLUMN `subLocation` `subLocation` VARCHAR(128),
CHANGE COLUMN `greensight` `greensight` VARCHAR(128) ,
CHANGE COLUMN `altLocation` `altLocation` VARCHAR(128)  ,
CHANGE COLUMN `warg` `warg` VARCHAR(128) ,
CHANGE COLUMN `flashback` `flashback` VARCHAR(64)
;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
4165 rows affected.

[]

- Scenes
   - Convert "" into NULL

In [11]:
%sql update scenes set sublocation=NULL where sublocation=""
%sql update scenes set greensight=NULL where greensight=""
%sql update scenes set altLocation=NULL where altLocation=""
%sql update scenes set warg=NULL where warg=""
%sql update scenes set flashback=NULL where flashback=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
495 rows affected.
 * mysql+pymysql://root:***@localhost/W4111GoTSolution
4149 rows affected.
 * mysql+pymysql://root:***@localhost/W4111GoTSolution
4130 rows affected.
 * mysql+pymysql://root:***@localhost/W4111GoTSolution
4158 rows affected.
 * mysql+pymysql://root:***@localhost/W4111GoTSolution
4124 rows affected.

[]

In [12]:
%sql describe scenes

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
12 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('seasonNum', 'int', 'NO', '', None, ''),
 ('episodeNum', 'int', 'NO', '', None, ''),
 ('sceneNo', 'int', 'NO', '', None, ''),
 ('sceneStart', 'varchar(128)', 'NO', '', None, ''),
 ('sceneEnd', 'varchar(128)', 'NO', '', None, ''),
 ('location', 'varchar(128)', 'NO', '', None, ''),
 ('subLocation', 'varchar(128)', 'YES', '', None, ''),
 ('greensight', 'varchar(128)', 'YES', '', None, ''),
 ('altLocation', 'varchar(128)', 'YES', '', None, ''),
 ('warg', 'varchar(128)', 'YES', '', None, ''),
 ('flashback', 'varchar(64)', 'YES', '', None, '')]

- Scenes and Characters

In [13]:
%sql describe scenes_characters

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
5 rows affected.

[('id', 'int', 'YES', '', None, ''),
 ('seasonNum', 'int', 'YES', '', None, ''),
 ('episodeNum', 'int', 'YES', '', None, ''),
 ('sceneNo', 'int', 'YES', '', None, ''),
 ('characterName', 'text', 'YES', '', None, '')]

- Scenes and Characters
   - NULL OR NOT NULL ?
   - Primary key
   - Unique

In [14]:
%%sql
ALTER TABLE `w4111gotsolution`.`scenes_characters` 
CHANGE COLUMN `id` `id` INT(11) NOT NULL ,
CHANGE COLUMN `seasonNum` `seasonNum` INT(11) NOT NULL ,
CHANGE COLUMN `episodeNum` `episodeNum` INT(11) NOT NULL ,
CHANGE COLUMN `sceneNo` `sceneNo` INT(11) NOT NULL ,
CHANGE COLUMN `characterName` `characterName` VARCHAR(128) NOT NULL ,
ADD PRIMARY KEY (`id`);

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
12114 rows affected.

[]

Delete scenes not in scenes and charactername not in characters

In [26]:
%%sql
delete from scenes_characters 
where seasonNum not in (select seasonNum from scenes) or  characterName not in (select characterName from characters);

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
515 rows affected.

[]

In [27]:
%sql describe scenes_characters

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
5 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('seasonNum', 'int', 'NO', '', None, ''),
 ('episodeNum', 'int', 'NO', '', None, ''),
 ('sceneNo', 'int', 'NO', '', None, ''),
 ('characterName', 'varchar(128)', 'NO', '', None, '')]

__characters_actors__

- characters_actors
   - NULL OR NOT NULL ?
   - Primary key
   - Unique

In [30]:
%%sql
ALTER TABLE `w4111gotsolution`.`characters_actors` 
CHANGE COLUMN `id` `id` INT(11) NOT NULL ,
CHANGE COLUMN `character_id` `character_id` VARCHAR(64) NOT NULL ,
CHANGE COLUMN `actorName` `actorName` VARCHAR(64) NOT NULL ,
CHANGE COLUMN `actorLink` `actorLink` VARCHAR(64) NULL DEFAULT NULL ,
CHANGE COLUMN `season` `season` VARCHAR(64) NULL DEFAULT NULL ,
ADD PRIMARY KEY (`id`);

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
408 rows affected.

[]

- characters_actors
   - Convert "" into NULL for actorLink
   - Convert "" into 0 for season

In [31]:
%sql update characters_actors set actorLink=NULL where actorLink=""
%sql update characters_actors set season=NULL where season=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
1 rows affected.
 * mysql+pymysql://root:***@localhost/W4111GoTSolution
354 rows affected.

[]

In [32]:
%sql describe characters_actors

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
5 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('character_id', 'varchar(64)', 'NO', '', None, ''),
 ('actorName', 'varchar(64)', 'NO', '', None, ''),
 ('actorLink', 'varchar(64)', 'YES', '', None, ''),
 ('season', 'varchar(64)', 'YES', '', None, '')]

__groups__

- groups
   - NULL OR NOT NULL ?
   - Primary key
   - Unique

In [42]:
%%sql
ALTER TABLE `w4111gotsolution`.`groups` 
CHANGE COLUMN `id` `id` INT NOT NULL ,
CHANGE COLUMN `groupName` `groupName` VARCHAR(128) NOT NULL ,
CHANGE COLUMN `character` `character` VARCHAR(64) 
;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
168 rows affected.

[]

In [55]:
%sql describe w4111gotsolution.groups

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
3 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('groupName', 'varchar(128)', 'NO', '', None, ''),
 ('character', 'varchar(64)', 'YES', '', None, '')]

__locations__

- locations
   - NULL OR NOT NULL ?
   - Primary key
   - Unique

In [57]:
%%sql
ALTER TABLE `w4111gotsolution`.`locations` 
CHANGE COLUMN `id` `id` INT(11) NOT NULL ,
CHANGE COLUMN `location` `location` VARCHAR(64) NOT NULL ,
CHANGE COLUMN `subLocation` `subLocation` VARCHAR(64) NULL DEFAULT NULL ,
ADD PRIMARY KEY (`id`);

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
129 rows affected.

[]

- locations
   - Convert "" into NULL

In [59]:
%sql update locations set subLocation=NULL where subLocation=""

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
26 rows affected.

[]

In [60]:
%sql describe locations

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
3 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('location', 'varchar(64)', 'NO', '', None, ''),
 ('subLocation', 'varchar(64)', 'YES', '', None, '')]

<u>Keys and Constraints</u>

- Characters

set primary key

In [17]:
%%sql
ALTER TABLE `w4111gotsolution`.`characters` 
DROP PRIMARY KEY,
ADD PRIMARY KEY (`id`);

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
0 rows affected.

[]

delete characters not in scenes_character

In [65]:
%%sql
delete from characters where characterName not in (select characterName from scenes_characters);

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
35 rows affected.

[]

In [66]:
%sql describe characters

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
11 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('characterName', 'varchar(64)', 'NO', '', None, ''),
 ('characterLink', 'varchar(128)', 'YES', '', None, ''),
 ('actorName', 'varchar(128)', 'YES', '', None, ''),
 ('actorLink', 'varchar(128)', 'YES', '', None, ''),
 ('character_id', 'varchar(16)', 'NO', 'UNI', None, ''),
 ('royal', 'tinyint', 'NO', '', '0', ''),
 ('characterImageThumb', 'varchar(512)', 'YES', '', None, ''),
 ('characterImageFull', 'varchar(512)', 'YES', '', None, ''),
 ('nickname', 'varchar(64)', 'YES', '', None, ''),
 ('kingsguard', 'tinyint', 'NO', '', '0', '')]

- Scenes

set primary key.

In [67]:
%%sql
ALTER TABLE `w4111gotsolution`.`scenes` 
DROP PRIMARY KEY,
ADD PRIMARY KEY (`seasonNum`, `episodeNum`, `sceneNo`);

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
0 rows affected.

[]

delete scene not in scenes_characters

In [68]:
%%sql
delete from scenes where (seasonNum,episodeNum,sceneNo) not in (select seasonNum,episodeNum,sceneNo from scenes_characters)

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
341 rows affected.

[]

In [69]:
%sql describe scenes

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
12 rows affected.

[('id', 'int', 'NO', '', None, ''),
 ('seasonNum', 'int', 'NO', 'PRI', None, ''),
 ('episodeNum', 'int', 'NO', 'PRI', None, ''),
 ('sceneNo', 'int', 'NO', 'PRI', None, ''),
 ('sceneStart', 'varchar(128)', 'NO', '', None, ''),
 ('sceneEnd', 'varchar(128)', 'NO', '', None, ''),
 ('location', 'varchar(128)', 'NO', '', None, ''),
 ('subLocation', 'varchar(128)', 'YES', '', None, ''),
 ('greensight', 'varchar(128)', 'YES', '', None, ''),
 ('altLocation', 'varchar(128)', 'YES', '', None, ''),
 ('warg', 'varchar(128)', 'YES', '', None, ''),
 ('flashback', 'varchar(64)', 'YES', '', None, '')]

- Scenes and Characters

set primary key and foreign key.

In [79]:
%%sql
ALTER TABLE `w4111gotsolution`.`scenes_characters` 
ADD CONSTRAINT `seasonNum,episodeNum,sceneNo`
  FOREIGN KEY (`seasonNum` , `episodeNum` , `sceneNo`)
  REFERENCES `w4111gotsolution`.`scenes` (`seasonNum` , `episodeNum` , `sceneNo`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
11599 rows affected.

[]

Add a new column named character_id,which could be used as foreign key of table characters

In [82]:
%%sql

ALTER TABLE `w4111gotsolution`.`scenes_characters` 
ADD COLUMN `character_id` VARCHAR(64) NULL AFTER `characterName`;

update scenes_characters as a, characters as b
set a.character_id = b.character_id
where a.characterName = b.characterName;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
0 rows affected.
11599 rows affected.

[]

In [86]:
%%sql
ALTER TABLE `w4111gotsolution`.`scenes_characters` 
ADD CONSTRAINT `character_id`
  FOREIGN KEY (`character_id`)
  REFERENCES `w4111gotsolution`.`characters` (`character_id`)
  ON DELETE NO ACTION
  ON UPDATE NO ACTION;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
11599 rows affected.

[]

In [87]:
%sql describe scenes_characters

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
6 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('seasonNum', 'int', 'NO', 'MUL', None, ''),
 ('episodeNum', 'int', 'NO', '', None, ''),
 ('sceneNo', 'int', 'NO', '', None, ''),
 ('characterName', 'varchar(128)', 'NO', 'MUL', None, ''),
 ('character_id', 'varchar(64)', 'YES', 'MUL', None, '')]

<u>Views</u>

- Character Interaction Views

In [97]:
%%sql
CREATE VIEW `w4111gotsolution`.`djx_ny_cool_guy` as
select a.characterName as CharacterName1,b.characterName as CharacterName2,count(*) as num
from scenes_characters a, scenes_characters b
where a.seasonNum=b.seasonNum and a.episodeNum=b.episodeNum and a.sceneNo=b.sceneNo and a.characterName != b.characterName and a.character_id<b.character_id
group by a.characterName,b.characterName

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
0 rows affected.

[]

- Your View and Explanation

This view implys that the number of two distinct characters showing in same seasonNum, episodeNum,sceneNum

## Programming

### Data Processing and Cleansing

#### Task

- The ```scene``` information in ```episodes.json``` complements and extend some of the information about character interactions and relationships. An example is:

```
            {
               "sceneStart":"0:50:24",
               "sceneEnd":"0:55:54",
               "location":"The Crownlands",
               "subLocation":"King's Landing",
               "characters":[
                  {
                     "name":"Arya Stark",
                     "weapon":[
                        {"action":"has", "name":"Needle"}
                     ]
                  },
                  {
                     "name":"Eddard Stark",
                     "title":"Hand",
                     "alive":false,
                     "mannerOfDeath":"Decapitation",
                     "killedBy":[
                        "Ilyn Payne"
                     ]
                  },
                  {"name":"Yoren"},
                  {"name":"Sansa Stark"},
                  {"name":"Petyr Baelish"},
                  {"name":"Cersei Lannister"},
                  {"name":"Joffrey Baratheon", "title":"King"},
                  {"name":"Grand Maester Pycelle"},
                  {"name":"Lord Varys"},
                  {"name":"Sandor Clegane"},
                  {
                     "name":"Ilyn Payne",
                     "weapon":[
                        {"action":"has", "name":"Ice"}
                     ]
                  }
               ]
            }
         ]
```


- A little data processing determines that the top-level elements of a ```character``` in a scene are:

```Top level keys in characters in scenes are:
	 sex
	 name
	 weapon
	 born
	 married
	 killedBy
	 mannerOfDeath
	 title
	 alive
```

- Your data processing and cleanse tasks is to create a table of the form:
    - ```seasonNum```
    - ```episodeNum```
    - ```sceneNo```
    - ```character_id_1```
    - ```action```
    - ```character_id_2```
    
    
- You can get access to information that maps ```characterName``` to ```character_id``` using the following code.

In [116]:
import pymysql
cloud_conn = pymysql.connect(
    host="columbia8013.cqgsme1nmjms.us-east-1.rds.amazonaws.com",
    user="gotuser",
    password="gotusergotuser",
    db="W4111GoTSolutionClean",
    cursorclass=pymysql.cursors.DictCursor)

In [119]:
def get_character_info(c_name):
    
    sql = "select * from characters where characterName=%s"
    cur = cloud_conn.cursor()
    res = cur.execute(sql, (c_name))
    res = cur.fetchall()
    return res

In [120]:
get_character_info("Sansa Stark")

[{'id': 300,
  'characterName': 'Sansa Stark',
  'characterLink': '/character/ch0158137/',
  'actorName': 'Sophie Turner',
  'actorLink': '/name/nm3849842/',
  'character_id': 'CH_300',
  'royal': 1,
  'characterImageThumb': 'https://images-na.ssl-images-amazon.com/images/M/MV5BNjAwMjE2NDExNF5BMl5BanBnXkFtZTcwODAwODg4OQ@@._V1._SX100_SY140_.jpg',
  'characterImageFull': 'https://images-na.ssl-images-amazon.com/images/M/MV5BNjAwMjE2NDExNF5BMl5BanBnXkFtZTcwODAwODg4OQ@@._V1_SY1000_CR0,0,806,1000_AL_.jpg',
  'nickname': None,
  'kingsguard': 0}]

#### Answer

<u>Table Definition</u>

In [9]:
%%sql
create table answers as
select seasonNum,episodeNum,sceneNo,a.character_id as character_id_1,action,b.character_id as character_id_2
from events,characters a,characters b
where events.name1=a.characterName and events.name2=b.characterName;

 * mysql+pymysql://root:***@localhost/W4111GoTSolution
312 rows affected.

[]

<u>Sample Query</u>

<u>Python Code</u>

In [ ]:
import json
import pandas as pd
with open('C:/Users/59482\Desktop/IntroToDB/HW1C/GoTHW/Data/json/episodes.json',encoding = "utf-8") as f:
    df = json.load(f)
df=df['episodes']

res = []
for item in df:
    scenes = item['scenes']
    for i in range(len(scenes)):
        scene = scenes[i]
        sceneNo = i + 1
        characters = scene['characters']
        for character in characters:
            if 'killedBy' in character or 'sex' in character or 'married' in character:
                obj = {}
                obj['seasonNum'] = item['seasonNum']
                obj['episodeNum'] = item['episodeNum']
                obj['sceneNo'] = sceneNo
                if 'killedBy' in character and character['killedBy']:
                    obj['name1'] = character['name']
                    obj['action'] = 'killedBy'
                    obj['name2'] = character['killedBy'][0]
                    obj['type'] = character['mannerOfDeath'] if 'mannerOfDeath' in characters else ' '

                elif 'sex' in character and character['sex']:
                    obj['name1'] = character['name']
                    obj['action'] = 'sex'
                    obj['name2'] = character['sex']['with'][0]
                    obj['type'] = character['sex']['type'][0]

                elif 'married' in character and character['married']:
                    obj['name1'] = character['name']
                    obj['action'] = 'married'
                    obj['name2'] = character['married']['to']
                    obj['type'] = character['married']['type']
                res.append(obj)

events = pd.DataFrame(res)
events.to_csv('events.csv')

### Data Access Abstraction

- A common API and abstraction for manipulating different database types and schema simplifies the development of web applications and other applications. There are many abstractions.

| <img src="./Lecture_4_ER_SQL_Relational_GoT_9.jpg"> |
| :---: |
| __Data Access Objects__ |

- The second programming tasks is to implement our own abstraction. This is RDBDataTable, which implements an abstraction we will use in subsequent homework assignments, and which we will use to enable our web application.


- You can find the implementation template in the ```src``` directory of the project template.


- For HW 1, Part C, you can copy your implementation code into this notebook and test again the cloud databases.


- __I strongly suggest that you develop and test in PyCharm, and then copy your code into the notebook. The cells below just show you where to place your code. You should copy your code over from PyCharm.__

#### Implementation

- ```BaseDataTable``` defines the common abstraction we will use. You do not need to do anything to this class.

In [70]:
# Import package to enable defining abstract classes in Python.
# Do not worry about understanding abstract base classes. This is just a class that defines
# some methods that subclasses must implement.
from abc import ABC, abstractmethod


class DataTableException(Exception):
    """
    A simple class that maps underlying implementation exceptions to generic exceptions.
    """

    invalid_method = 1001

    # General
    def __init__(self, code, message):
        self.code = code
        self.message = message

    def __str__(self):
        result = (
            type(self), {"code": self.code, "message": self.message}
        )
        result = str(result)
        return result


class BaseDataTable(ABC):
    """
    The implementation classes (XXXDataTable) for CSV database, relational, etc. will extend the
    base class and implement the abstract methods.
    """

    def __init__(self, entity_type_name, connect_info, key_columns=None, context=None):
        """

        :param entity_type_name: Name of the logcal entity type. This maps to various abstractions in
            underlying stores, e.g. file names, RDB tables, Neo4j Labels, ...
        :param connect_info: Dictionary of parameters necessary to connect to the data. See examples in subclasses.
        :param key_columns: List, in order, of the columns (fields) that comprise the primary key.
            A primary key is a set of columns whose values are unique and uniquely identify a row. For Appearances,
            the columns are ['playerID', 'teamID', 'yearID']
        :param contex: Holds context and environment information.
        """
        self._table_name = entity_type_name
        self._connect_info = connect_info
        self._key_columns = key_columns
        self._context = context

    @abstractmethod
    def find_by_primary_key(self, key_fields, field_list=None, context=None):
        """

        :param key_fields: The values for the key_columns, in order, to use to find a record. For example,
            for Appearances this could be ['willite01', 'BOS', '1960']
        :param field_list: A subset of the fields of the record to return. The CSV file or RDB table may have many
            additional columns, but the caller only requests this subset.
        :return: None, or a dictionary containing the columns/values for the row.
        """
        pass

    @abstractmethod
    def find_by_template(self, template, field_list=None, limit=None, offset=None, order_by=None, context=None):
        """

        :param template: A dictionary of the form { "field1" : value1, "field2": value2, ...}. The function will return
            a derived table containing the rows that match the template.
        :param field_list: A list of requested fields of the form, ['fielda', 'fieldb', ...]
        :param limit: Do not worry about this for now.
        :param offset: Do not worry about this for now.
        :param order_by: Do not worry about this for now.
        :return: A derived table containing the computed rows.
        """
        pass

    @abstractmethod
    def insert(self, new_entity, context=None):
        """

        :param new_record: A dictionary representing a row to add to the set of records. Raises an exception if this
            creates a duplicate primary key.
        :return: None
        """
        pass

    @abstractmethod
    def delete_by_template(self, template, context=None):
        """

        Deletes all records that match the template.

        :param template: A template.
        :return: A count of the rows deleted.
        """
        pass

    @abstractmethod
    def delete_by_key(self, key_fields, Context=None):
        """

        Delete record with corresponding key.

        :param key_fields: List containing the values for the key columns
        :return: A count of the rows deleted.
        """
        pass

    @abstractmethod
    def update_by_template(self, template, new_values, context=None):
        """

        :param template: A template that defines which matching rows to update.
        :param new_values: A dictionary containing fields and the values to set for the corresponding fields
            in the records. This returns an error if the update would create a duplicate primary key. NO ROWS are
            update on this error.
        :return: The number of rows updates.
        """
        pass

    @abstractmethod
    def update_by_key(self, key_fields, new_values, context=None):
        """

        :param key_fields: List of values for primary key fields
        :param new_values: A dictionary containing fields and the values to set for the corresponding fields
            in the records. This returns an error if the update would create a duplicate primary key. NO ROWS are
            update on this error.
        :return: The number of rows updates.
        """
        pass

    @abstractmethod
    def query(self, query_statement, args, context=None):
        """
        Passed through/executes a raw query in the native implementation language of the backend.
        :param query_statement: Query statement as a string.
        :param args: Args to insert into query if it is a template
        :param context:
        :return: A JSON object containing the result of the operation.
        """
        pass

    @abstractmethod
    def load(self, rows=None):
        """
        Loads data into the data table.
        :param rows:
        :return: Number of rows loaded.
        """

    @abstractmethod
    def save(self, context):
        """
        Writes any cached data to a backing store.
        :param context:
        :return:
        """

__RDBDataTable__


- You only need to implement the following methods:
    - ```__init__```
    - ```__str__```
    - ```find_by_template``` You only need to implement the parameters
        - ```template```
        - ```field_list```
    - ```find_by_primary_key``` You only need to implement the parameters
        - ```key_fields```
        - ```field_list```


- The logical behavior of the ```find_by_template``` API is the following:
    - If you create an ```RDBDataTable``` instance for a SQL table ```GoTSolutionClean.scenes_characters,```
    - The call<br>
```
    characters_tbl.find_by_template(
            template={
                'seasonNum': 1,
                'episodeNum': 2
                },
            field_list = ['seasonNum', 'episodeNum', 'sceneNo', 'character_id']
            )
```
    - Is equivalent to
```
    select seasonNum, episodeNum, sceneNo, character_id
        from GoTSolutionClean.scenes_characters
        where
            seasonNum=1 and episodeNum=1
```
    - And returns the same dictionary.

- The logical behavior of the ```find_by_primary_key``` API is the following:
    - If you create an ```RDBDataTable``` instance for a SQL table ```GoTSolutionClean.episodes,```
    - The primary key columns are ```seasonNum, episodeNum.```
    - The invocation would be ```find_by_primary_key([1,3],field_list=['seasonNum','episodeNum','title'])```
    - This would get converted into
```
select seasonNum, episodeNum, title
        from W4111GoTSolutionClean.episodes
        where
            seasonNum=1 and episodeNum=1
```
    - Your class implementation MUST run a database query to determine the primary key columns and their order to form the ```where``` clause.
    - The result is a single dictionary containing the query result.
    
    
- We will provide tests.

In [171]:
from src.data_tables.BaseDataTable import BaseDataTable

import pandas as pd
import pymysql

import logging

logger = logging.getLogger()


class RDBDataTable(BaseDataTable):
    """
    RDBDataTable is relation DB implementation of the BaseDataTable.
    """

    # Default connection information in case the code does not pass an object
    # specific connection on object creation.
    _default_connect_info = {
        'host':"localhost",
        'user':"root",
        'password':"Djxwxydy4016739",
        'db':"W4111GoTSolution",
        'port': 3306
    }

    _default_cnx = None

    def _get_cnx(self):

        if self._cnx is None:
            if self._connect_info is None:
                c_info = RDBDataTable._default_connect_info
            else:
                c_info = self._connect_info

            self._cnx = pymysql.connect(
                host=c_info['host'],
                user=c_info['user'],
                password=c_info['password'],
                db=c_info['db'],
                charset='utf8mb4',
                cursorclass=pymysql.cursors.DictCursor)

        return self._cnx

    def __init__(self, table_name, key_columns=None, connect_info=None):
        """

        :param table_name: The name of the RDB table.
        :param connect_info: Dictionary of parameters necessary to connect to the data.
        :param key_columns: List, in order, of the columns (fields) that comprise the primary key.
            This is for compatibility with other types of data table. Any value other than None is an error.
        """

        # If there is not explicit connect information, use the defaults.



        if key_columns is not None:
            raise ValueError("This is an RDB Data Table. We figure out the keys by querying the DB.")

        ####### Your Code Goes Here #########
        self._cnx=None
        self._connect_info=None
        self._table_name = table_name
        self.key_columns = key_columns
        self._connect_info=connect_info
        ####### Your Code Goes Here #########
    def get_row_count(self):
        sql="select count(*) as count from "+ self._table_name
        res=self._run_q(sql,fetch =True)
        return res[0]['count']

    def get_key_columns(self):
        sql = 'show keys from ' + self._table_name+ " WHERE Key_name = 'PRIMARY'"
        res = self._run_q(sql, fetch=True)
        result=[]
        for re in res:
            re=str(re['Column_name'])
            result.append(re)
        return result

    def get_columns(self):
        sql='describe '+ self._table_name
        res=self._run_q(sql,fetch=True)
        result=[]
        for re in res:
            result.append(re['Field'])
        return result
    

    def __str__(self):
        """

        :return: String representation of the table's metadata.
        """
        ####### Your Code Goes Here #########
        result = 'RDBDataTable '+ self._table_name
        result += '\n\tRow Count='+ str(self.get_row_count())
        result+= '\n\t Key=' + str(self.get_key_columns())
        result+= '\n\tColumns='+str(self.get_columns())
        return result
        ####### Your Code Goes Here #########

    def _run_q(self, q, args=None, fields=None, fetch=True, cnx=None, cursor=None, commit=True):
        """

        :param q: An SQL query string that may have %s slots for argument insertion. The string
            may also have {} after select for columns to choose.
        :param args: A tuple of values to insert in the %s slots.
        :param fetch: If true, return the result.
        :param cnx: A database connection. May be None
        :param cncursor: Do not worry about this for now.
        :param commit: Do not worry about this for now. This is more wizard stuff.
        :return: A result set or None.
        """

        r = None

        cursor_created = False

        if cnx is None:
            cnx = self._get_cnx()

        try:
            # Use the connection in the object if no connection provided.

            # Convert the list of columns into the form "col1, col2, ..." for following SELECT.
            if fields:
                q = q.format(",".join(fields))
            else:
                q = q.format('*')

            if cursor is None:
                cursor = cnx.cursor()  # Just ignore this for now.
                cursor_created = True

            # If debugging is turned on, will print the query sent to the database.
            #self.debug_message("Query = ", cursor.mogrify(q, args))

            cursor.execute(q, args)  # Execute the query.

            # Technically, INSERT, UPDATE and DELETE do not return results.
            # Sometimes the connector libraries return the number of created/deleted rows.
            if fetch:
                r = cursor.fetchall()  # Return all elements of the result.
            else:
                r = None

            if commit:                  # Do not worry about this for now.
                cnx.commit()

            if cursor_created:
                cursor.close()

        except Exception as e:
            print("Exception e = ", e)
            if commit:
                cnx.rollback()
            if cursor_created:
                cursor.close()

        return r

    def _run_insert(self, table_name, column_list, values_list, cnx=None, commit=True):
        """

        :param table_name: Name of the table to insert data. Probably should just get from the object data.
        :param column_list: List of columns for insert.
        :param values_list: List of column values.
        :param cnx: Ignore this for now.
        :param commit: Ignore this for now.
        :return:
        """
        try:
            q = "insert into " + table_name + " "

            # If the column list is not None, form the (col1, col2, ...) part of the statement.
            if column_list is not None:
                q += "(" + ",".join(column_list) + ") "

            # We will use query parameters. For a term of the form values(%s, %s, ...) with one slot for
            # each value to insert.
            values = ["%s"] * len(values_list)

            # Form the values(%s, %s, ...) part of the statement.
            values = " ( " + ",".join(values) + ") "
            values = "values" + values

            # Put all together.
            q += values

            self._run_q(q, args=values_list, fields=None, fetch=False, cnx=cnx, commit=commit)

        except Exception as e:
            print("Got exception = ", e)
            raise e

    def get_folders(self):
        pass

    def find_by_primary_key(self, key_fields, field_list=None, context=None):
        """

        :param key_fields: The values for the key_columns, in order, to use to find a record.
        :param field_list: A subset of the fields of the record to return.
        :return: None, or a dictionary containing the request fields for the record identified
            by the key.
        """
        pass
        ####### Your Code Goes Here #########
        dict_key_col={}
        for i in range(len(self.get_key_columns())):
            dict_key_col[self.get_key_columns()[i]]=key_fields[i]
        where_result=[]
        for key, value in dict_key_col.items():
            col_con=str(key)+' = '+str(value)
            where_result.append(col_con)
        if len(where_result)>2:
            where_final_result=(' and ').join(where_result)
        else:
            where_final_result= str(where_result[0])
        if len(field_list)>2:
            select_column = (', ').join(field_list)
        else:
            select_column=str(field_list[0])
        sql = "select " + select_column + ' from ' + self._table_name + '  where ' + where_final_result
        result = self._run_q(sql, fetch=True)
        return result
        ####### Your Code Goes Here #########

    def _template_to_where_clause(self, t):
        """
        Convert a query template into a WHERE clause.
        :param t: Query template.
        :return: (WHERE clause, arg values for %s in clause)
        """
        w_clause = None
        args = None

        ####### Your Code Goes Here #########
        pass

        ####### Your Code Goes Here #########

        return w_clause, args

    def find_by_template(self, template, field_list=None, limit=None, offset=None, order_by=None, commit=True,
                         context=None):
        """

        :param template: A dictionary of the form { "field1" : value1, "field2": value2, ...}
        :param field_list: A list of request fields of the form, ['fielda', 'fieldb', ...]
        :param limit: Do not worry about this for now.
        :param offset: Do not worry about this for now.
        :param order_by: Do not worry about this for now.
        :return: A list containing dictionaries. A dictionary is in the list representing each record
            that matches the template. The dictionary only contains the requested fields.
        """
        ####### Your Code Goes Here #########
        where_res=[]
        for key, value in template.items():
            col_con=str(key)+' = '+str(value)
            where_result.append(col_con)
        if len(where_result)>2:
            where_final_result=(' and ').join(where_result)
        else:
            where_final_result= str(where_result[0])
        if len(field_list)>2:
            select_column = (', ').join(field_list)
        else:
            select_column=str(field_list[0])
        sql = "select " + select_column + ' from ' + self._table_name + '  where ' + where_final_result
        result = self._run_q(sql, fetch=True)
        return result

        ####### Your Code Goes Here #########

    def insert(self, new_record, context=None):
        """

        :param new_record: A dictionary representing a row to add to the set of records.
        :return: None
        """
        pass

    def delete_by_template(self, template, context=None):
        """

        Deletes all records that match the template.

        :param template: A template.
        :return: A count of the rows deleted.
        """
        pass

    def delete_by_key(self, key_fields, context=None):
        """

        Delete record with corresponding key.

        :param key_fields: List containing the values for the key columns
        :return: A count of the rows deleted.
        """
        pass

    def update_by_template(self, template, new_values, context=None):
        """

        :param template: A template that defines which matching rows to update.
        :param new_values: A dictionary containing fields and the values to set for the corresponding fields
            in the records. This returns an error if the update would create a duplicate primary key. NO ROWS are
            update on this error.
        :return: The number of rows updates.
        """
        pass

    def update_by_key(self, key_fields, new_values, context=None):
        """

        :param key_fields: List of values for primary key fields
        :param new_values: A dictionary containing fields and the values to set for the corresponding fields
            in the records. This returns an error if the update would create a duplicate primary key. NO ROWS are
            update on this error.
        :return: The number of rows updates.
        """
        pass

    def load(self, rows=None):
        pass

    def save(self, context=None):
        pass

    def query(self, query_statement, args, context=None):
        pass

__Tests__

- We will provide some tests.

In [184]:
#from src.data_tables.RDBDataTable import RDBDataTable
import src.data_tables.RDBDataTable
import imp
imp.reload(src.data_tables.RDBDataTable) 
from src.data_tables.RDBDataTable import RDBDataTable
import json
def t1():

    print("\n************** t1 **************\n")

    t = RDBDataTable("W4111GoTSolution.scenes")
    print("Table = ", t)
    print("\n")


def t2():

    print("\n************** t2 **************\n")

    t = RDBDataTable("W4111GoTSolution.episodes")

    res = t.find_by_template(
        {"seasonNum": 1},
        field_list=['seasonNum', 'episodeNum', 'episodeTitle']
    )

    print("Answer = ")
    print(json.dumps(res, indent=2, default=str))

    print("\n************** t2 **************\n")


def t3():


    print("\n************** t3 **************\n")

    t = RDBDataTable("W4111GoTSolution.scenes")

    res = t.find_by_primary_key([3,1, 11],
        field_list=['seasonNum', 'episodeNum', 'sceneNo', "location", "subLocation"]
    )

    print("Answer = \n")
    print(json.dumps(res, indent=2, default=str))


    print("\n************** t3 **************\n")



def t4():

    print("\n************** t4 **************\n")

    t = RDBDataTable("W4111GoTSolution.scenes")

    k = t.get_key_columns()
    print("Key columns = ", k)

    print("\n************** t4 **************\n")

In [185]:
t1()

************** t1 **************

Table =  RDBDataTable W4111GoTSolution.scenes
	Row Count=3824
	 Key=['seasonNum', 'episodeNum', 'sceneNo']
	Columns=['id', 'seasonNum', 'episodeNum', 'sceneNo', 'sceneStart', 'sceneEnd', 'location', 'subLocation', 'greensight', 'altLocation', 'warg', 'flashback']

In [186]:
t2()

************** t2 **************

Answer =
[
  {
    "seasonNum": 1,
    "episodeNum": 1,
    "episodeTitle": "Winter Is Coming"
  },
  {
    "seasonNum": 1,
    "episodeNum": 2,
    "episodeTitle": "The Kingsroad"
  },
  {
    "seasonNum": 1,
    "episodeNum": 3,
    "episodeTitle": "Lord Snow"
  },
  {
    "seasonNum": 1,
    "episodeNum": 4,
    "episodeTitle": "Cripples, Bastards, and Broken Things"
  },
  {
    "seasonNum": 1,
    "episodeNum": 5,
    "episodeTitle": "The Wolf and the Lion"
  },
  {
    "seasonNum": 1,
    "episodeNum": 6,
    "episodeTitle": "A Golden Crown"
  },
  {
    "seasonNum": 1,
    "episodeNum": 7,
    "episodeTitle": "You Win or You Die"
  },
  {
    "seasonNum": 1,
    "episodeNum": 8,
    "episodeTitle": "The Pointy End"
  },
  {
    "seasonNum": 1,
    "episodeNum": 9,
    "episodeTitle": "Baelor"
  },
  {
    "seasonNum": 1,
    "episodeNum": 10,
    "episodeTitle": "Fire and Blood"
  }
]

************** t2 **************

In [187]:
t3()

************** t3 **************

Answer =

[
  {
    "seasonNum": 3,
    "episodeNum": 1,
    "sceneNo": 11,
    "location": "North of the Wall",
    "subLocation": "Frostfang Mountains"
  }
]

************** t3 **************

In [188]:
t4()

************** t4 **************

Key columns =  ['seasonNum', 'episodeNum', 'sceneNo']

************** t4 **************